.fd-menu {
    height: 90px;
    box-shadow: 5px 10px 9px #f9eeee;
}
.fd-title {
    font-family: "PingFang SC";
    font-size: 35px;
    line-height: 90px;
    font-weight: bold;
    color: #406489;
}
.fd-menu-item {
    font-family: "PingFang SC";
    font-size: 15px;
    line-height: 90px;
    font-weight: bold;
    color: #406489;
}